<!-- views/partials/donations-form.handlebars -->

<div class="form-group">
  <label for="title">Charity Name</label>
  <input name="title" class="form-control" placeholder="Name of Charity" value="{{donation.title}}" />
</div>
<div class="form-group">
  <label for="desc">Amount</label>
  <textarea name="desc" class="form-control" placeholder="$0.00">{{donation.desc}}</textarea>
</div>
